body {
    margin: 10px 0;
}
.form-date input {
    width: 50px;
    float: left;
    margin-right: 10px;
 }
.form-date input#year {
    width: 70px;
 }
 #date{ 
    width: 200px;
}
 label {
    float: none;
    display: block;
 }
 .form-error {
    display: none;
    color: red;
    padding: 5px 8px;
 }
 .table {
    font-size: 12px;
 }
 #name {
    max-width: 200px;
 }
 .errors-ul {
    padding: 0;
    margin: 0;
 }
.errors-ul li {
    margin-bottom: 5px;
}
.show-all {
    font-size: 11px;
    text-decoration: underline;
    margin-left: 10px;
}